html, body, .wrapper {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h1 {
    flex-basis: 0;
}
.panels {
    flex-grow: 1;
    height: 100%;
    display: flex;
}
.trains-list {
    height: 100%;
    padding: 12px 6px 0 12px;
}
.train-info {
    padding: 12px 12px 0 6px;
}

.train {
    display: flex;
}

.train__time {
    width: 80px;
}
.train__origin {
    flex-grow: 1;
}
.train__destination {
    flex-grow: 1;
    padding: 0 12px;
}

.train__button {
    width: 60px;
    background-color: #9cbbcf;
    border-bottom: 4px solid #fff;
    text-align: center;
    cursor: pointer;
}

.train-info__origin, .train-info__destination {
    font-size: 24px;
}

.train-info__stops {
    padding-top: 24px;
    font-size: 24px;
}

.train-stop {
    font-size: 12px;
    display: flex;
}

.train-stop__time {
    width: 120px;
}

.train-stop__name {

}